@charset "UTF-8";
/* common.css */

.clearfix:after,
.clearfix::after {
  content: ""; display: block; width: 100%; height:0; clear: both;
}

.none {display: none;}

.first_margin > li:first-child {margin-left:0;}
.last_margin > li:last-child {margin-right:0}

.blind_area a {
  display: block; width: 100%; height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.blind_area a>span,
.blind_area button>span,
.blind {display: block; position:absolute;
z-index: -1; width: 0; height: 0; overflow: hidden;}

.area_title {
  display: block;
  width: 100%; height:60px; padding:60px 0;
  font-size: 34px; color : var(--brown_01);
  text-align: center; line-height: 60px;
  letter-spacing: 4px;
  text-transform: capitalize;
}

.page_h2 {
  display: block;
  width: 100%; height:60px; padding: 100px 0 60px 0;
  font-size:36px; font-weight:500; color :var(--brown_01);
  text-align: center; line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.item_name_en {
  margin-bottom : 6px;
  font-size : var(--text_card_01);
  color : var(--black_01)
}

.item_name_ko {
  margin-bottom : 10px;
  font-size : var(--text_card_02); font-weight: 700;
  color : var(--brown_01)
}

.footer_title {
  margin-bottom:14px;
  font-size : var(--foot_title);
  color : var(--brown_01);
  text-transform: uppercase;
}