/* login.css */

@import url("../common/page/a_wrap.css");
@import url("../common/page/b_headBox.css");
@import url("../common/page/b_footBox.css");

@media all {
  #loginBox {width: 100%; height:auto;}
  .login_wrap {width: 100%; height:100%;}
  .page_banner {
    background: url("../../img/join/banner.jpg");
  }
  .log_in_div {
    position:relative;
    width: 960px; height:380px; margin:auto; margin-bottom:80px; background-color: #fff;}

  /* meber_login */


  .member_login {
    position:absolute; top:50%; left:0; transform: translateY(-50%);
    width: 480px; height:250px; border-right: 1px solid var(--black_03);}
  .form_h3 {font-size:20px; font-weight:700; color:var(--black_02); text-align: center; letter-spacing: 2px;}
  #formLogin, #formOrder {width: 380px; height: auto; margin:auto; padding-top:40px;}
  #formLogin > form {
    width: 100%; height:auto; margin-right:10px; margin-bottom:16px;
  }

  .formLogin_left {float:left; margin-bottom:10px;}
  .formLogin_right {float:right}
  form, fieldset {margin:0; padding:0; border:0}
  legend {display: block; width: 0; height: 0; position:absolute; z-index: -1; overflow: hidden;}
  .user_input {width: 100%; height: 60px; margin-bottom:5px}
  .user_input:last-child {margin-bottom:0}
  .user_input input {
    width: 270px; height: 60px; padding:10px; box-sizing: border-box;
    font-size:15px; color:var(--light_gray_02);
    border: 1px solid var(--border_gray);}

  .login_enter, .order_enter { width: 100px; height: 125px;}
  .login_enter > input,
  .order_enter > input {
    width: 100%; height: 100%; font-size:15px; font-weight:700; color:var(--white);
    background-color: var(--brown_01);
  }
  #formLogin > .id_chk {
    float:right;
    width: 100%; height:30px;
  }
  .id_chk > .form_el {float:left}
  .id_chk > ul {float:right; width: 170px; height:auto;}
  .id_chk button {font-size:14px; letter-spacing: -1px;}
  .find_id {float:left}
  .find_pw {float:right}

  input[id="saveID"] {display: none;}
  .form_el {position:relative; width:100px; height:20px;}
  .form_el span {position:absolute; top:50%; right:0; transform:translateY(-50%); margin:auto; font-size:14px; }
  input[id="saveID"] + label:before {
    content:""; display: inline-block; width: 20px; height: 20px; margin-right:10px; cursor: pointer; line-height:20px;
    border: 1px solid var(--border_gray);}

  input[id="saveID"]:checked + label:before {
    content:"\2713"; 
    background-color: var(--brown_01); font-weight:900; color: var(--white); text-align: center; 
  }
  input[id="saveID"]:checked + label {font-weight:900;}

  /* order_login */
  .order_login {
      position:absolute; top:50%; right:0; transform: translateY(-50%);
      width: 480px; height:250px; }

  /* go_to_join */
  .go_to_join {width: 100%; height:auto; margin-bottom:150px; text-align: center;}
  .p_tit {margin-bottom:12px; font-size:18px; font-weight:600; color:var(--black_02); letter-spacing: -1px;}
  .p_txt {margin-bottom:30px; font-size:15px; color:var(--black_01); letter-spacing: -1px;}
  .go_to_join > a {
    display: block;
    width: 250px; height: 60px; margin:auto; 
    line-height: 60px; font-size: 15px; color: var(--brown_01); letter-spacing: -1px;
    background-color: var(--yellow); 
  }
  .go_to_join > a i {margin-left:20px}
  .go_to_join > a:hover {
    background-color: transparent; border:1px solid var(--brown_01);
    transition-property: all;
    transition-duration:800ms;
    transition-timing-function: ease;
  }
}