@media all {
   /* #headBox----------------------------------------- */
   #headBox {
    position:fixed; top:0; left:0; z-index:1000;
    width: 100%; height:auto; padding:20px 140px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow:3px 3px 3px rgba(0,0,0,0.3);
  }
  .area_head {
    width: 100%; max-width: 1440px; height:auto;
    margin:auto;
  }

  #logo {float:left; width:126px; height:29px; padding:8px 0;}
  #logo > a {
    background: url("../../../img/common/headbox/logo-b.png");
    background-repeat: no-repeat;
    background-size: contain;
  }

  #navBox {float:right;}
  .nav_btn {display: none; float:right;width: 30px; height: 30px;}
  .nav_btn button {width: 100%; height: 100%;
    background: url("../../../img/main_page_rwd/phone/menu_i.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;}
  #navBox .close_btn {display: none; position:absolute; top:30px; right:30px;
      width: 30px; height: 30px; }
    
  #navBox .close_btn button {
    width: 100%; height: 100%;
    background: url("../../../img/main_page_rwd/phone/gnb-exit.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  .gnb_top {text-align:right; margin-bottom:12px;}
  .gnb_top li {
    display:inline-block; position:relative;
    width:auto; height:13px; padding:2px 12px;
    font-size:13px; text-transform: uppercase;
    letter-spacing : 1px; word-spacing: -4px;}
  .gnb_top li span {margin-right:4px}
  .gnb_top li:before {
    content:""; position:absolute; top:5px; right:0; width: 1px; height:10px; background-color: var(--light_gray_02);
  }
  .gnb_top li:last-child:before {display: none;}
  .gnb_bottom li {float:left; padding : 0 10px;
    font-size:14px;
    font-weight: 500;
    letter-spacing : 1px; text-transform: uppercase;
  }

  .gnb_top li:hover,
  .gnb_bottom li:hover {
    font-weight:700;
  }

  .header_search {
    display: none;
    position : absolute; left:0; right:0; margin:auto;
    margin-top:20px;
    width: 50%; height:auto;
    padding:20px; box-sizing: border-box;
    background-color: var(--white);
  }

  .header_search_content {
    width: 90%; height:auto; margin:auto;
  }

  form, fieldset {position:relative; margin:0; padding:0; outline:0; border:0;}
  .top_search legend {display: block; width: 0;height: 0; position:absolute; z-index: -1; overflow: hidden;}
  .search_input {width:80%; height:auto; margin:auto; padding:0 10px 10px 10px; box-sizing:border-box; border-bottom:1px solid var(--black_01)}
  .search_input > #topSearch {
    float:left;
    width:90%; height:20px; 
    padding:10px; box-sizing:border-box; border:0; font-size:14px; letter-spacing: 2px; text-transform: uppercase;}

   input::placeholder {color:var(--border_gray)}
  .search_input > #goToSearch {
    float:right;
    width:20px; height:20px; border:0; background: transparent;
    background-image: url("../../../img/common/headbox/sear-btn.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
  }
}